h3 {
  margin-bottom: 20px;
  text-align: center;
  display: block;
  padding: 10px;
  background-color: #b6dcf2;
  border: 2px solid #010101;
  margin: 0 auto;
  max-width: 80%;
}

body {
  text-align: center;
}

/* PC 버전 */
@media only screen and (min-width: 768px) {
  body {
    background-image: url("https://blog.kakaocdn.net/dn/Fihw4/btranVWawtV/dDjB1188GuE231FUBgkWe1/img.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}

/* 모바일 버전 */
@media only screen and (max-width: 767px) {
  body {
    background-image: url("https://e1.pxfuel.com/desktop-wallpaper/123/890/desktop-wallpaper-cinnamoroll-backgrounds-2022.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
}

table {
  border-collapse: collapse;
}

table,
th,
td {
  border: none;
}

.board_wrap {
  width: 80%;
  margin: 50px auto;
}

.board_title {
  text-align: center;
  margin-bottom: 20px;
}

.board_list {
  width: 100%;
  border-top: 2px solid #000000;
}

.board_list table {
  width: 100%;
  border-collapse: collapse;
}

.board_list th,
.board_list td {
  padding: 15px;
}

.board_list th {
  background-color: #71a3e1;
  font-weight: bold;
}

.board_list tr:nth-child(even) {
  background-color: #f9f9f9;
}

.board_list tr {
  background-color: #d1eaff;
}

.board_list tr:hover {
  background-color: #78c2ff;
}
